@model Prabin_SMS.Models.Entity.Teacher

@{
    ViewData["Title"] = "Register";
}

﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager



<h1>@ViewData["Title"]</h1>
<h2>Create a new account.</h2>
<hr />



<form  action="AddEdit" method="post">
    <div class="row">
        <div class="col-6">
            <div class="form-floating">
                <input asp-for="FirstName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="FirstName"></label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating">
                <input asp-for="LastName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="LastName"></label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-floating">
                <input asp-for="Address" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Address"></label>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating">
                <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-floating">
                <input asp-for="PhoneNumber" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="PhoneNumber"></label>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="col-6">
            <div class="form-floating">
                <input asp-for="IsActive" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="IsActive"></label>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>
    </div>
    @if (User.IsInRole("ADMIN"))
    {
        <div class="row">
            <div class="col-6">
            <button asp-action="Index" type="submit" class="w-100 btn btn-lg btn-primary">Back</button>
        </div>
        <div class="col-6">
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary float-end">Register</button>
        </div>
    </div>
    }
</form>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
