@model Prabin_SMS.Models.Entity.Degree
﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Degree";
}


<h1>@ViewData["Title"]</h1>
<h2>Add Degree</h2>
<hr />

<form action="AddEdit" method="post">
    <input asp-for="Id" id="Id" hidden />
    <div class="row">
        <div class="col-4">
            <div class="form-floating">
                <input asp-for="DegreeName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="DegreeName"></label>
                <span asp-validation-for="DegreeName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-floating">
                <input asp-for="DegreeDescription" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="DegreeDescription"></label>
                <span asp-validation-for="DegreeDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-floating">
                <input asp-for="TotalSeats" id="TotalSeats" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="TotalSeats"></label>
                <span asp-validation-for="TotalSeats" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
                <div class="form-floating">
                    <select asp-for="DisciplineId" class="form-control" autocomplete="username" aria-required="true" asp-items="@(new SelectList(ViewBag.Discipline,"Id","Name"))">
                            <option disabled selected value="null">--CHOOSE</option>
                        </select>
                    <label asp-for="DisciplineId"></label>
                    <span asp-validation-for="DisciplineId" class="text-danger"></span>
                </div>
        </div>
        <div class="col-4">
            <div class="form-floating">
                <select asp-for="Academic_Level" class="form-control" autocomplete="username" aria-required="true">
                    <option disabled selected value="null">--CHOOSE--</option>
                    <option  value="MASTERS">MASTERS</option>
                    <option  value="BACHELORS">BACHELORS</option>
                </select>
                <label asp-for="Academic_Level"></label>
                <span asp-validation-for="Academic_Level" class="text-danger"></span>
            </div>
        </div>

        <div class="col-4">
            <div class="form-floating">
                <input  id="RemainingSeats" class="form-control" autocomplete="username" aria-required="true" disabled/>
                <label>Remaining Seats</label>
            </div>
        </div>

    </div>

    <div class="row">
        
        <div class="col-4">
            <label for="customRange1" class="form-label" asp-for="No_Of_Semesters"></label>
                <output></output>
                <input type="range" asp-for="No_Of_Semesters" class="form-range chooseRange"  min="0" max="8">
            
            <span asp-validation-for="No_Of_Semesters" class="text-danger"></span>
        </div>

        <div class="col-4">
                <label for="customRange1" class="form-label" asp-for="No_Of_Years"></label>
                <output></output>
                <input type="range" asp-for="No_Of_Years" class="form-range chooseRange" min="0" max="8">
                <span asp-validation-for="No_Of_Years" class="text-danger"></span>
        </div>
        <div class="col-3">
            <label for="StartDate" style="font-size: 0.9rem;
                                            color: #7a7a7ac2;
                                            padding-left: 3.2%;
                                            ">StartDate</label>
            <input asp-for="StartDate" type="date" class="form-control" autocomplete="username" aria-required="true" style="padding-top: 20px;
                                                                                                                            margin-top: -24px;
                                                                                                                            border-color: #816d6d30;
                                                                                                                            height: 9vh;/>
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="col-1">
            <div class="form-group">
                <input class="form-check-input" type="checkbox" asp-for="IsActive">
                <label class="form-check-label" asp-for="IsActive">

                </label>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>
    </div>
   <div class="row">
        
    </div>

    <div class="row">
        <div class="col-6">
            <a asp-action="Index" class="w-100 btn btn-lg btn-primary">Back</a>
        </div>
        @if (User.IsInRole("ADMIN"))
        {

            @if (Model.Id > 0)
            {
                <div class="col-6">
                    <button class="w-100 btn btn-lg btn-primary  float-end" type="submit">Update</button>
                </div>
            }
            else
            {
                <div class="col-6">
                    <button class="w-100 btn btn-lg btn-primary  float-end" type="submit">Create</button>
                </div>
            }

        }
    </div>
</form>

@if (Model.Id != 0)
{
    <div class="row">
        <h2>Semester and Courses</h2>
        <hr />
    </div>
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label class="form-check-label">Semester</label>
                <select id="SemesterList" class="form-control">
                    <option selected disabled>Choose Semester</option>
                </select>
                <span class="text-danger"></span>
            </div>
        </div>
        <br />
        <br />


        <div class="col-3">
            <label class="form-check-label"> Courses</label>
            <textarea id="Search" class="form-control" placeholder="search" rows="1"></textarea>
            <div class="form-group">
                <select id="CourseList" class="form-control">
                    <option selected>List</option>
                </select>
                <span class="text-danger"></span>
            </div>
        </div>

        <div class="col-2">
            <button class="btn btn-primary" style="margin:2rem" id="add">Add</button>
        </div>

        <div class="col-3">
            <div class="form-group">
                <label class="form-check-label">Add Courses</label>
                <select id="AllCourseList" size="1" class="form-control">
                </select>
                <span class="text-danger"></span>
            </div>
        </div>

        <div class="col-1">
            <button class="btn btn-primary" style="margin:2rem" id="remove">Remove</button>
        </div>

    </div>
}







@section Scripts {
    <partial name="_ValidationScriptsPartial" /> 
    <script>
        var occupied = 0;
        
        $("#No_Of_Semesters").change(function () {
            $("#SemesterList").empty(options);
            var noOfSem = $("#No_Of_Semesters").val();
            var options = "<option selected disabled>Choose Semester</option>";

            for(var i=1; i<=noOfSem; i++)
            { 
                options += '<option value="' + i + '">' + i + '</option>';
            }
        $("#SemesterList").append(options);
        });
        
        $(document).ready(function(){
            debugger;
            var degreeId = $("#Id").val();
            var totalCount = $("#TotalSeats").val();
            $.ajax({
                url: '/api/Degree/getRemainingSeats',
                data: { totalCount: totalCount, degreeId : degreeId},
                method: 'GET'
            }).done(function (data) {
                occupied = data["count"];
                var remaining = totalCount - occupied;
                $("#RemainingSeats").val(remaining);
            }).fail(function () {
            });
        });
        
       


        $("#Search").keyup(function () {
            
            var query = $("#Search").val();
            $("#CourseList").empty();
            
            $.ajax({
                url: '/api/Degree/getAllCourses',
                data: { query: query },
                method: 'GET'
            }).done(function (data) {

                var options = "";
                $.each(data["courses"], function (index, value) {
                    options += '<option  value="' + value["id"] + '">' + value["courseName"] + '</option>';
                });
                $("#CourseList").append(options);
            }).fail(function () {
            });
        });

        $("#SemesterList").change(function () {
            fillCourseList();
        });

        function fillCourseList() {
            debugger;

                var DegreeId = $("#Id").val();
                var Semester = $("#SemesterList").val();
                
                var courseSearchViewModel = {
                    Semester: Semester,
                    DegreeId: DegreeId,
                    CourseId: 0,
                    Courses: null
                };

                $("#AllCourseList").empty();

            $.ajax({
                url: '/api/Degree/getSemesterCourses',
                data: { courseSearchViewModel: courseSearchViewModel },
                method: 'POST'
            }).done(function (data) {
                debugger;

                options = "";
                $.each(data["courseList"], function (index, value) {
                    options += '<option value="' + value["id"] + '">' + value["courseName"] + '</option>';
                });
                $("#AllCourseList").append(options);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.error("AJAX error: " + textStatus + ' : ' + errorThrown);
                console.error("Response: ", jqXHR.responseText);
            });
        }

            
        $("#add").click(function () {

            debugger;
            var courseId = $("#CourseList").val();
            var degreeId = $("#Id").val();
            var semester = $("#SemesterList").val();
            var courseSearchViewModel = {
                Semester: semester,
                DegreeId: degreeId,
                CourseId: courseId,
                Courses: null
            };

            $.ajax({
                url: '/api/Degree/setCourse',
                data: { courseSearchViewModel:courseSearchViewModel },
                method: 'POST'
            }).done(function (data) {
                    debugger;
                    fillCourseList();
                }).fail(function () {
            });
        });

        $("#remove").click(function () {
            
            $("#AllCourseList option:selected").each(function () {
                debugger;
                var courseId = $(this).val();
                var degreeId = $("#Id").val();
                var semester = $("#SemesterList").val();

                var courseSearchViewModel = {
                    Semester: semester,
                    DegreeId: degreeId,
                    CourseId: courseId,
                    Courses: null
                };

                $.ajax({
                    url: '/api/Degree/DeleteCourse',
                    data: { courseSearchViewModel: courseSearchViewModel },
                    method: 'POST'
                }).done(function (data) {
                    debugger;
                    fillCourseList();
                }).fail(function () {
                });
            })
        });

        $("#TotalSeats").change(function () {
            
            var totalCount = $("#TotalSeats").val();
            var remaining = totalCount - occupied;
            $("#RemainingSeats").val(remaining);
        });

        $(".chooseRange").on('input',function () {
            var num = $(this).val();
            $(this).siblings('output').text(num);
        });
       
    </script>
}